header {
  text-align: center;
}

h1 {
  font-family: cursive;
}

main {
  display: flex;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
}

table {
  position: relative;
  margin-top: auto;
  table-layout: fixed;
  border-collapse: collapse;
  width: 405px;
}

td {
  padding: 40px;
  width: 45px;
  height: 45px;
  border: 1px solid black;
  text-align: center;
}

td:hover {
  background-color: darkgrey;
}

.checkColor {
  background-color: darkgrey;
}

.checkColor:hover {
  background-color: rgb(255, 255, 255);
}

.clicked {
  font-size: 30px;
  font-family: cursive;
}

.neon-mode {
  position: relative;
  margin-top: auto;
  table-layout: fixed;
  border-collapse: collapse;
  width: 405px;
  box-shadow: inset 0 0 50px #fff, /* inner white */ inset 20px 0 80px #f0f,
    /* inner left magenta short */ inset -20px 0 80px #0ff,
    /* inner right cyan short */ inset 20px 0 300px #f0f,
    /* inner left magenta broad */ inset -20px 0 300px #0ff,
    /* inner right cyan broad */ 0 0 50px #fff,
    /* outer white */ -10px 0 80px #f0f,
    /* outer left magenta */ 10px 0 80px #0ff; /* outer right cyan */
}

.neon-mode-doc {
  background-color: black;
}

.neon-mode-h1 {
  color: white;
}
