html {
  background-color: bisque;
}

header {
  text-align: center;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

button {
  border-radius: 100%;
  background-color: bisque;
  font-family: cursive;
}

button:hover {
  box-shadow: inset 0 0 50px #fff, inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff,
    0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
}

.btn-neon {
  border-radius: 100%;
  box-shadow: inset 0 0 50px #fff, inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff,
    0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
  font-family: cursive;
}

.btn-neon:hover {
  background-color: bisque;
  box-shadow: none;
}

h1 {
  font-family: cursive;
  margin: auto;
  padding-left: 80px;
}

main {
  display: flex;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
}

table {
  position: relative;
  margin-top: auto;
  table-layout: fixed;
  border-collapse: collapse;
  width: 405px;
}

td {
  padding: 40px;
  width: 45px;
  height: 45px;
  border: 1px solid black;
  text-align: center;
}

td:hover {
  background-color: rgba(159, 156, 156, 0.433);
}

.checkColor {
  background-color: rgba(159, 156, 156, 0.433);
}

.checkColor:hover {
  background-color: rgba(255, 255, 255, 0);
}

.clicked {
  font-size: 30px;
  font-family: cursive;
}

.neon-mode {
  position: relative;
  margin-top: auto;
  table-layout: fixed;
  border-collapse: collapse;
  width: 405px;
  color: #fff;
  box-shadow: inset 0 0 50px #fff, /* inner white */ inset 20px 0 80px #f0f,
    /* inner left magenta short */ inset -20px 0 80px #0ff,
    /* inner right cyan short */ inset 20px 0 300px #f0f,
    /* inner left magenta broad */ inset -20px 0 300px #0ff,
    /* inner right cyan broad */ 0 0 50px #fff,
    /* outer white */ -10px 0 80px #f0f,
    /* outer left magenta */ 10px 0 80px #0ff; /* outer right cyan */
}

.neon-mode-doc {
  background-color: black;
}

.neon-mode-h1 {
  color: white;
}
